@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DynaPuff:wght@400..700&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tiny5&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
